.section-serve-clients {
	.section__header--rule {
		@include viewport(lg-max) {
			margin: 60px auto;
			border-left: solid 5px $light-blue;
			width: 5px;
			height: 120px;
			position: relative;

			// &:before {
			// 	@include path-dot();
			// 	left: 50%;
			// 	bottom: 5px;
			// 	transform: translateX(-50%);
			// 	width: 20px;
			// 	height: 20px;
			// 	border: solid 5px white;
			// 	border-radius: 999px;

			// }
		}
	}

	.section__header--headline {
		@include viewport(md-max) {
			@include type-size-key(md);
		}
	}
	.section__header {
		display: grid;
		grid-template-columns: 1fr;

		.section__header--intro,
		.section__header--path {
			grid-row: 1;
			grid-column: 1;
		}

		.section__header--intro {
			text-align: center;
			max-width: 700px;
			margin: 200px auto auto;

			@include viewport(lg-max) {
				margin-top: 0;
			}

			.accent-green {
				color: $medium-green;
				display: inline-block;
			}

			.accent-teal {
				color: $teal;
				display: inline-block;
			}
		}
	}

	// TODO: consolidate these
	.section__footer {
		display: grid;
		grid-template-columns: 1fr;

		.section__footer--interactive,
		.section__footer--path {
			grid-row: 1;
			grid-column: 1;
		}
	}

	.interactive-cards {
		@include viewport(md-min) {
			display: grid;
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 20px;
		}

		perspective: 1000px;

		.card-green {
			background: $medium-green;
			.card-front {
				background: $medium-green;
			}

			.card-back {
				background: darken($medium-green, 5%);
			}
		}

		.card-teal {
			background: $teal;

			.card-front {
				background: $teal;
			}

			.card-back {
				background: darken($teal, 2.5%);
			}
		}

		.card {
			color: white;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			position: relative;
			transform-style: preserve-3d;
			//background-color: transparent;
			overflow: hidden;
			min-height: 300px;

			.card-front,
			.card-back {
				backface-visibility: hidden;
				grid-row: 1;
				grid-column: 1;
				transition: transform 600ms;
				padding: 60px 40px 40px;
			}

			.card-front {
				display: grid;
				grid-template-rows: max-content;

				.card-headline {
					grid-row: 1;
					grid-column: 1;
					height: 80px;
				}

				.card-copy {
					grid-row: 2;
					grid-column: 1;
					margin-top: 0;

					p {
						margin-bottom: 0;
					}
				}
			}

			.card-back {
				transform: translateY(-100%);
			}

			// TODO: scope this better
			$visual-size: 50px;

			.card__trigger--input,
			.card__trigger--visual {
				position: absolute;
				bottom: 22px;
				right: 15px;
				width: $visual-size;
				height: $visual-size;
			}

			.card__trigger--visual {
				display: flex;
				z-index: 1;
				cursor: pointer;
				transition: transform 500ms ease-in-out;

				&:before,
				&:after {
					content: '';
					display: block;
					background: white;
				}

				// X-axis
				&:before {
					content: '';

					width: 100%;
					height: 5px;
					display: block;
					margin: auto;
				}

				// Y-axis
				&:after {
					width: 5px;
					height: 100%;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
				}
			}

			.card__trigger--input {
				z-index: 2;
				opacity: 0;
				cursor: pointer;

				&:checked {
					// Rotate
					+ .card__trigger--visual {
						transform: rotate(90deg);
					}

					~ .card-front {
						transform: translateY(-100%);
					}

					~ .card-back {
						transform: translateY(0);
					}
				}
			}
		}
	}

	.interactive-container {
		margin-top: 53px;
		text-align: center;
	}
}
