.section-what-we-do {
	margin: 152px 0 33px;

	@include viewport(lg-max) {
		margin-top: 75px;
		margin-bottom: 75px;
	}

	.intro-content {
		color: #0a203d80;
	}

	ol {
		padding-left: 18px;
	}

	.what-we-do-more {
		@include viewport(md-min) {
			margin-top: 106px;
		}
	}
}
