.section-work-with {
	text-align: center;

	// TODO: verify after doing shapes
	padding-top: 100px;
	padding-bottom: 47px;

	.content-intro {
		max-width: 700px;
		margin: 0 auto;

		h2 {
			@include viewport(md-max) {
				max-width: 300px;
				margin: 0 auto;
			}
		}

		p {
			color: #848f9e;
		}
	}

	.logo-grid {
		margin: 57px 0;

		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-gap: 1rem;
		justify-items: center;
		align-items: center;

		@include viewport(md-max) {
			grid-template-columns: repeat(2, 1fr);
		}

		img {
			max-width: 100%;
			margin: 0 auto;
			padding: 25px;
			opacity: 0.45;
		}
	}
}
